
#poruka {
  color: white;
  font-size: large;
}
#javi_gresku {
  color: white;
}

#gumbic {
  border-radius: 8px;
  background-color: #3b71ca;
  box-shadow: 0 4px 9px -4px #3b71ca;
  color: #fff;
  border-style: none;
  height: 50px;
  font-weight: bold;
  font-size: 22px;
  margin-top: 5%;

  &:hover {
    background-color: #f07dea;
  }
}
form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #434242;
  border-radius: 8px;
  input {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 8px;
    border-style: none;
    height: 30% !important;
  }
  h6 {
    display: block !important;
    margin: auto !important;
    width: 50% !important;
    font-size: 20px;
    margin-top: 10px !important;
  }
}
input {
  font-size: 30px;
}
