button {
  border-radius: 8px;
  background-color: #3b71ca;
  box-shadow: 0 4px 9px -4px #3b71ca;
  color: #fff;
  border-style: none;
  height: 2.5rem;

  &:hover {
    background-color: #f07dea;
  }

  margin-left: 3%;
}

input {
  margin: auto;
  border-radius: 8px;
  border-style: none;
  height: 30% !important;
}
