
<div id="traka1">
    <a href="/" class="gost">Početna</a>
    <a href="/filmoviPretrazivanje">Pretraživanje filmova</a>
    <a href="/filmoviPregled">Pregled filmova</a>
    <a href="/filmoviPrijedlozi">Prijedlozi filmova</a>
    <a href="/zanrovi">Žanrovi</a>
    <a href="/dokumentacija" class="gost">Dokumentacija</a>
    <a href="/galerija">Galerija</a>
    <a href="/slika">Slike</a>
    <a href="/profil">Profil</a>
    <a href="/korisnici">Korisnici</a>
    <a href="/odjava" class="gost">Odjava</a>
    <a href="/korisnici" class="gost">Korisnici</a>

</div>
